<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 别名 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="cacheEnabled" value="true" />  
		<setting name="defaultStatementTimeout" value="25000" />  
    </settings>
    <typeAliases>
        <package name="per.wei.entity"/>
    </typeAliases>
</configuration>
